h2 {
    margin-top: .5em;
    padding-top: 0.2em;
    text-align: center;
}

.dropdown {
    margin: 0.75em;
}

#left-column {
    top:0;
    left:0;
}

#right-column {
    top:0;
    right:0;
}

#right-navbar-part {
    position: absolute; /*or fixed*/
    right: 0px;
}